<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= "stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="shortcut icon" href="#">
        <title>MapNavigation</title>
        {% block script %}{% endblock %}
    </head>
    <body>     

        <div id="myModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <p id="modalText">Some text in the Modal..</p>
              <button id="modalContinue" style="display:none;">Continue</button>
            </div>
          </div>
          


        <div class="grid-parent">

            <div class="story"> 
                <div class="headline">
                    {% block headline %}{% endblock %}
                </div>
                <div class="content-grid">
                    <div class="top-block">
                        {% block top_block %}{% endblock %}
                    </div>
                    <div class="left-block">
                        {% block left_block %}{% endblock %}
                    </div>
                    <div class="right-block">
                        {% block right_block %}{% endblock %}
                    </div>
                </div>
            </div>
        
        
        </div>
    </body>
</html>