{% extends 'base.html' %}


{% block script %}
<script>    
    function fn1(){
        window.location="emo_post";
    }

    function preventBack() { window.history.forward(); }  
    setTimeout("preventBack()", 0);  
    window.onunload = function () { null }; 

</script>
{% endblock %}

{% block top_block %}

<p class="t_title">
    <br><br>

<br><br>
You have made all the right choices.

The task is completed successfully. 
<br>Now please continue to fill the questionnaire. 
<br>

<!-- <img src="{{ url_for('static', filename='img/ring.jpg') }}" alt="Example Image"  style="width: 100%;"> -->
</p>

{% endblock %}


{% block right_block %}
<button onclick="fn1()" id="btn1" class = "continue-btn">Continue</button>
{% endblock %}