{% extends 'base.html' %}


{% block main_text %}
<p class="t_title">
Please explain your emotions.
<br><br>

For example: 
<br>Why do you feel such emotions, which part of the task makes you feel that way? 
<br>And how do you feel that your emotions have changed along the task?
  <br>

</p>


<form method="POST">
    {{ form.hidden_tag() }}
    
    <div>
        {{ form.feedback.label }}
        {{ form.feedback(class="feedback-input") }}

    </div>
  <br><br>
  <input type="submit" value="Continue" class = "start">
  </form>
  

{% endblock %}