{% extends 'base.html' %}

{% block main_text %}
<p class="t_title">
  Hello, welcome to the experiment! <br>
  <br>
  In this experiment, you will encounter a life scenario, and please get involved as much as you can. 
  <br>
  There would be a questionaire at the end of the experiment. 
  All the data collected would be for scientific use. 
  
 
   <br><br><br>

  If you agree to participate in this experiment, please enter your prolific ID and demographic information to start. 
  It will take around 10 minutes in total. <br><br>
  Thanks for your participation!
</p>


<form method="POST">
  {{ form.hidden_tag() }}
  <br>
  <table class="my-table">
      <tr>
          <td><label for="id">Prolific ID:</label></td>
          <td>{{ form.id(id='id', class = 'text-input', style='font-size: 16px;') }}</td>
      </tr>
      <tr>
          <td><label>Gender:</label></td>
          <td>        {% for subfield in form.gender %}
            <label>{{ subfield }} {{ subfield.label }}</label>
            {% endfor %}</td>
      </tr>
      <tr>
        <td><label for="age">Age:</label></td>
        <td>{{ form.age(id='age', class = 'text-input',style='font-size: 16px;') }}</td>
    </tr>
  </table>
  <br>
  <br>
  <input type="submit" value="Start" class="continue-btn">
</form>


{% endblock %}