{% extends 'base.html' %}


{% block top_block %}
<p class="t_content">
  Hello, welcome to the experiment! <br>

  <br>
  In this experiment, you will encounter a life scenario. Please engage as much as you can. <br><br>
  The next page will ask you a few questions, followed by the task introduction and then the task itself.

  After completing the task, you'll be asked to fill a questionnaire. 

  Once you submit it, you can go back to your Prolific page to claim your compensation. <br><br>
  Please note that all data collected is for scientific purposes only and is not linked to your personal information.
  
 
   <br><br>
   If you agree to participate, please enter your Prolific ID and demographic information to begin. <br>
   
   
   The entire experiment will take approximately 15 minutes. <br><br>
  Thanks for your participation!
</p>

<div class="form-container">
<form method="POST">
  {{ form.hidden_tag() }}
  <br>
  <table class="my-table">
      <tr>
          <td><label for="id">Prolific ID:</label></td>
          <td>{{ form.id(id='id', class = 'text-input', style='font-size: 16px;') }}</td>
      </tr>
      <tr>
          <td><label>Gender:</label></td>
          <td>        {% for subfield in form.gender %}
            <label>{{ subfield }} {{ subfield.label }}</label>
            {% endfor %}</td>
      </tr>
      <tr>
        <td><label for="age">Age:</label></td>
        <td>{{ form.age(id='age', class = 'text-input',style='font-size: 16px;') }}</td>
    </tr>
  </table>
  <br>


  <p>{{ form.submit(class='continue-btn') }}</p>
</form>
</div>

{% endblock %}