

{% extends 'base.html' %}

{% block script %}
<script>
    function fn1(){
        window.location="s1";
    }
    // Function for not being able to go backwards
    function preventBack() { window.history.forward(); }    
        setTimeout("preventBack()", 0);  
        window.onunload = function () { null }; 
</script>
{% endblock %}

{% block headline %}

<p class="t_note">
    Please read through the instructions and then start the task.<br><br>

    Your goal is to navigate the metro lines using the provided interface, starting at 8:30 and reaching your destination by 9:00.<br>
    Please plan your route carefully and avoid unnecessary detours to ensure you arrive in time. 
<br><br>
    At each station, you will have 90 seconds to choose an action, which will lead you to the next station. <br>
    The clock time will increase based on your choices, but the 90-seconds decision time does not affect the clock. 
    <br><br>
    To successfully complete the task, you must arrive your destination before 9:00, and make decisions within the 90-second limit at any station. 

</p>


{% endblock %}

{% block top_block %}

<p class="t_note">
    This section will display your destination, current station, clock time, and the remaining time to make a decision. <br>
    The current station and clock time will update based on your action choice. <br>    
</p>
Goal Station:   ***
<br><br>

<div>
    Current station: <span style="border: 1px solid #000; padding: 5px; padding-left: 3%;padding-right: 3%;border-radius: 3px;">***</span>
</div>
<br>
<div>
    Clock Time: <span style="border: 1px solid #000; padding: 5px; border-radius: 3px;padding-left: 3%;padding-right: 3%;">{{current_time}}</span>
</div>
<br>
<div>
    Time left to make an action: 
    <span id="timer" style="border: 1px solid #000; padding: 5px; border-radius: 3px;padding-left: 3%;padding-right: 3%;">90</span> seconds
</div>
{% endblock %}



{% block left_block %}
<p class="t_note">
    <br>

    Here, you will have some guidance for your trip. <br>
    <br>
</p>


<br>


{% endblock %}

{% block right_block %}
<p class="t_note">
    Here you can choose your action, it will lead you to the next station, and the clock time will 
    increase accordingly. 
    <br>The available choices would be in its metro color, while the unavailable ones would be in grey. 
    <br>Your selected action would change from white text to black text.
</p>

    <form method="POST">
        {{ form.hidden_tag() }}
        
    <p class="t_map">Please select your action and continue:</p>       
    <br> 
        {% for subfield, choice in zip(form.action, choices) %}
            <div class="radio">
                {{ subfield(disabled=not choice[2], id=subfield.id, class_="colored-radio " + choice[0]) }}
                <label for="{{ subfield.id }}" class="colored-label {{ choice[0] }}">
                    {{ choice[1] | safe }}
                </label>
            </div>
        {% endfor %}  
    </form>
    <br>
<p class="t_note">
    If you have understood everything, please click the button "Continue" to access the game. 
    All the notes in the boxes will disappear, and the task will start immediately. 
</p>

<br>
<button onclick="fn1()" id="btn1" class = "continue-btn">Continue</button>

{% endblock %}

