{% extends 'base.html' %}

{% block script %}
<script>
    function preventBack() { window.history.forward(); }  
    setTimeout("preventBack()", 0);  
    window.onunload = function () { null }; 
</script>
{% endblock %}

{% block main_text %}

{% if error %}
<div style="color: red; margin-bottom: 20px;">{{ error }}</div>

{% endif %}
<p class="t_title">

What do you decide to do?
<br>
</p>

<form method="POST">
<!-- <form id="slotChoiceForm"> -->
    <input type="radio" id="roundSlot" name="slotChoice" value="A">
    <label for="roundSlot">A. Walk</label><br>
    <!-- <img src="{{ url_for('static', filename='img/round.jpg') }}" alt="Example Image"  width="200" > -->
    <br>
    
    <input type="radio" id="triangleSlot" name="slotChoice" value="B">
    <label for="triangleSlot">B. Metro + Tram </label><br>
    <!-- <img src="{{ url_for('static', filename='img/triangle.jpg') }}" alt="Example Image"  width="200" > -->
    <br>
    
    <input type="radio" id="squareSlot" name="slotChoice" value="C">
    <label for="squareSlot">C. placeholder</label><br>
    <!-- <img src="{{ url_for('static', filename='img/square.jpg') }}" alt="Example Image"  width="200" > -->
    <br>
    <input type="submit" value="Continue" class="continue-btn">
</form>
<br>

{% endblock %}
