{% extends 'base.html' %}

{% block script %}
<script>
    function preventBack() { window.history.forward(); }  
    setTimeout("preventBack()", 0);  
    window.onunload = function () { null }; 
</script>
{% endblock %}

{% block main_text %}

{% if error %}
<div style="color: red; margin-bottom: 20px;">{{ error }}</div>

{% endif %}
<p class="t_title">

Now Alex, you're standing before the safe box, poised to unlock its secrets. 
Before you are three distinct slots, each leading to potential success or immediate failure. 
The stakes are high: a single incorrect choice will trigger an alarm, 
sealing the safe's contents away and marking the end of your quest. 
With the key in hand and fate hanging in the balance, which slot do you commit to?
<br>
</p>

<form method="POST">
<!-- <form id="slotChoiceForm"> -->
    <input type="radio" id="roundSlot" name="slotChoice" value="A">
    <label for="roundSlot">A. the round one</label><br>
    <img src="{{ url_for('static', filename='img/round.jpg') }}" alt="Example Image"  width="200" >
    <br>
    
    <input type="radio" id="triangleSlot" name="slotChoice" value="B">
    <label for="triangleSlot">B. the triangle one</label><br>
    <img src="{{ url_for('static', filename='img/triangle.jpg') }}" alt="Example Image"  width="200" >
    <br>
    
    <input type="radio" id="squareSlot" name="slotChoice" value="C">
    <label for="squareSlot">C. the square one</label><br>
    <img src="{{ url_for('static', filename='img/square.jpg') }}" alt="Example Image"  width="200" >
    <br>
    <input type="submit" value="Continue" class="continue-btn">
</form>
<br>

{% endblock %}
