{% extends 'base.html' %}


{% block script %}
<script>
    function fn1(){
        window.location="p3";
    }
</script>
 {% endblock %}



{% block main_text %}

<p class="t_title">
You manage to break into the house without being noticed, 
now you are in the living room. <br>

You look around. Nothing interesting, but you notice that there is a hidden door.

<br><br>

<img src="{{ url_for('static', filename='img/livingroom.jpg') }}" alt="Example Image"  width="500" >
</p>


{% endblock %}




{% block continue %}
<br>
<button onclick="fn1()" id="btn1" class = "continue-btn">Continue</button>
{% endblock %}