{% extends 'base.html' %}


{% block script %}
<script>
    function fn1(){
        window.location="p3";
    }
</script>
 {% endblock %}



{% block main_text %}

<p class="t_title">

    You successfully slip into the house unnoticed and find yourself in the living room. 
    Upon looking around, you see nothing of immediate interest, but your attention is drawn to a closed door. 
    You suspect that beyond this door lies another room, where the safe box is located.

<br><br>

<img src="{{ url_for('static', filename='img/livingroom.jpg') }}" alt="Example Image" style="width: 100%;">
</p>


{% endblock %}




{% block continue %}
<button onclick="fn1()" id="btn1" class = "continue-btn">Continue</button>
{% endblock %}