{% extends 'base.html' %}


{% block script %}
<script>
    function fn1(){
        window.location="p6";
    }
</script>
 {% endblock %}



{% block main_text %}

<p class="t_title">
You put the key into the hidden door, and it opens. <br>
Now you are in the hidden office, there is a big safe box on the wall, <br>
there are three slots, and you only have one chance, if the wrong one is chosen, <br>
the alarm would ring and the task would fail. <br>
with the key in your hand, which slot would you choose?<br>
<br>
a. the round one<br>
b. the triangle one<br>
c. the square one<br>

<br>
</p>


{% endblock %}




{% block continue %}

<button onclick="fn1()" id="btn1" class = "continue-btn">Continue</button>
{% endblock %}