{% extends 'base.html' %}


{% block main_text %}
<p class="t_title">
  As the character Alex in this adventure, we invite you to rate your emotional experience at this moment:

</p>

<p class = 't_note'>
    0 = not experiencing this emotion at all, 
    5= experiencing this emotion moderately, 
    10 = experiencing this emotion intensely
</p>


<form method="POST">
  {{ form.hidden_tag() }}
  
  <table>
      <tr>
          <th></th>
          <th>0</th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
          <th>6</th>
          <th>7</th>
          <th>8</th>
          <th>9</th>
          <th>10</th>
      </tr>
      <tr>

          <td>{{ form.emo1_happiness.label }}</td>
          {% for subfield in form.emo1_happiness %}
          <td><div class="radio-button">{{ subfield }}</div></td>
          {% endfor %}
      </tr>
      <tr>
        <td>{{ form.emo1_joy.label }}</td>
        {% for subfield in form.emo1_joy %}
        <td><div class="radio-button">{{ subfield }}</div></td>
        {% endfor %}
    </tr>
    <tr>
        <td>{{ form.emo1_despair.label }}</td>
        {% for subfield in form.emo1_despair %}
        <td><div class="radio-button">{{ subfield }}</div></td>
        {% endfor %}
    </tr>
      <tr>
          <td>{{ form.emo1_sadness.label }}</td>
          {% for subfield in form.emo1_sadness %}
          <td><div class="radio-button">{{ subfield }}</div></td>
          {% endfor %}
      </tr>
      <tr>
        <td>{{ form.emo1_irritation.label }}</td>
        {% for subfield in form.emo1_irritation %}
        <td><div class="radio-button">{{ subfield }}</div></td>
        {% endfor %}
      </tr>
      <tr>
        <td>{{ form.emo1_rage.label }}</td>
        {% for subfield in form.emo1_rage %}
        <td><div class="radio-button">{{ subfield }}</div></td>
        {% endfor %}
    </tr>
    <tr>
      <td>{{ form.emo1_confusion.label }}</td>
      {% for subfield in form.emo1_confusion %}
      <td><div class="radio-button">{{ subfield }}</div></td>
      {% endfor %}
  </tr>

  </table>
<br>
  <input type="submit" value="Continue" class = "continue-btn">
</form>

<br><br><br>
<img src="{{ chosen_content['image_path'] }}" alt="Result Image" style="width: 100%;">

{% endblock %}

