{% extends 'base.html' %}

{% block script %}
<script>
    function fn1(){
        window.location="page2";
    }
</script>
 {% endblock %}


{% block main_text %}

<p class="t_title">


    You are a passenger using public transport for your daily work commute. 
    You live on Niall Street and usually take the metro Blue Line to Admiralty for work. 
    Recently, you heard that one of the stations would undergo
    construction, preventing any metro trains from passing through. Although you were aware 
    of the construction, you didn't remember the exact start date or which station would be 
    affected. 
    
    <br><br>
    Today, on your way to work, the metro stops unexpectly at City Square.
    An announcement informs all passengers that they 
    must disembark because the next station is under construction, and 
    the train will be returning in the opposite direction.
    You now realize that the construction at St.Alba has begun. 
    <br><br>
    Forced to exit the metro at City Square, you need to find an alternative route to reach your destination. 
    You have a digital map app on your phone to assist you. As you exit the metro station, you 
    notice the next metro on the Red Line towards Crown Height will depart in 2 minutes. 
    You need to decide whether you should take this metro or not, as any wrong 
    decision could make you late for an important meeting.
    <br><br>
    Please scroll down and press "Continue" to access the map and the metro and tram timetable. Remember,
     you only have 2 minutes to decide on your route. 


<br>


<br>
    <br>
    <div class="container">
        <img src="{{ url_for('static', filename='img/metro.png') }}" alt="Example Image" style="width: 500px; height: 500px;">
    </div>
    <br><br>
<!-- The figure here should include the tram as well. -->
</p>

{% endblock %}

{% block continue %}
<button onclick="fn1()" id="btn1" class = "continue-btn">Continue</button>
{% endblock %}