{% extends 'base.html' %}

{% block script %}
<script>
    
    function fn1(){
        window.location="emo";
    }
    function preventBack() { window.history.forward(); }  
    setTimeout("preventBack()", 0);  
    window.onunload = function () { null }; 

</script>
 {% endblock %}


{% block  top_block%}

<p class="t_title">
    <br>
    I'm sorry, your metro exploration didn't reach the destination. <br>
    The task was unsuccessful.<br>
    Please continue to complete the questionnaire.     <br><br>
<!-- <img src="{{ url_for('static', filename='img/alarm.jpg') }}" alt="Example Image"  style="width: 100%;"> -->
<br></p>

<button onclick="fn1()" id="btn1" class = "continue-btn">Continue</button>
{% endblock %}